body, html {
    height: 100%;
    background-repeat: no-repeat;
    background: url("../img/fondo_sala.jpg") no-repeat center center fixed;
    background-size: 100% 100%;
}

h1{
    text-align: center;
}
.form-label{
    color: black;
}
.form-control{
    color: black;
    text-align: center;
}
#limpiar{
    margin: 0 10px;
}

#buscador{
    text-transform: lowercase;
}

#crearBD{
    cursor: pointer;
}

#nomBaseDatos{
    text-align: center;
}