table tr th {
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.sorting {
  background-color: #eab4b4;
}
.asc:after {
  content: '  ▲';
}
.desc:after {
  content: "  ▼";
}