{% extends "index.html" %}
{% block title %} {{ title2 }} {% endblock %}
{% block content %}
    <br>
    <h1 class="title is-1 fw-bold has-text-black">{{ titulo2 }}</h1>
    <br>
    <table class="table table-striped table-hover align-middle">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">USUARIO</th>
                <th scope="col">NOMBRE(S)</th>
                <th scope="col">APELLIDOS</th>
                <th scope="col">E-MAIL</th>
                <th scope="col">FECHA DE REGISTRO</th>
                <th scope="col">HORA</th>
                <td colspan="2"></td>
            </tr>
        </thead>
        <tbody>
            {% for fila in fila_alumno %}
                <tr>
                    <td>{{ loop.index }}</td>
                    <td class="ususario fw-bold fs-5" scope="row">{{ fila[0] }}</td>
                    <td class="modNombre">{{ fila[1] }}</td>
                    <td class="modAppellidos">{{ fila[2] }}</td>
                    <td class="modEmail">{{ fila[3] }}</td>
                    <td>{{ fila[5] }}</td>
                    <td>{{ fila[6] }}</td>
                    <td>
                        <button type="button" class="btn btn-secondary modificar" data-bs-toggle="modal" data-bs-target="#exampleModal" data-bs-whatever="@mdo" title="Modificar a {{ fila[0] }}">MODIFICAR</button>
                    </td>
                    <td>
                        <button type="button" name="eliminar" class="btn btn-danger eliminar" title="Eliminar a {{ fila[0] }}">ELIMINAR</button>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content bg-dark text-white">
                <div class="modal-body">
                    <form class="row g-3" action="/" id="actualizar" method="POST" autocomplete="off">
                        <div class="modal-header">
                            <h5 class="modal-title nameUser" id="exampleModalLabel"></h5>
                            <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <input type="hidden" class="form-control act_usuario" name="act_usuario" readonly>
                        <div class="mb-3">
                            <label for="act_nombre" class="col-form-label">Nombre(s):</label>
                            <input type="text" class="form-control act_nombre" name="act_nombre">
                        </div>
                        <div class="mb-3">
                            <label for="act_apellidos" class="col-form-label">Apellidos:</label>
                            <input type="text" class="form-control act_apellidos" name="act_apepat">
                        </div>
                        <div class="mb-3">
                            <label for="act_email" class="col-form-label">E-mail:</label>
                            <input type="text" class="form-control act_email" name="act_email">
                        </div>
                        <div class="mb-3">
                            <label for="act_fecha" class="col-form-label">Fecha:</label>
                            <input type="text" class="form-control" name="act_fecha" value="{{ fecha }}" readonly>
                        </div>
                        <div class="mb-3">
                            <label for="act_hora" class="col-form-label">Hora:</label>
                            <input type="text" class="form-control" name="act_hora" readonly>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-danger" data-bs-dismiss="modal">CANCELAR</button>
                            <button type="submit" class="btn btn-success">GUARDAR</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}